$purple: #3333cc;
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$background: linear-gradient(181deg, #e6e6ff, #8080ff);

body {
  font: $font-stack;
   background: $background;
   background-size: 400% 400%;
}

h1 {
  color: $purple;
  font-style: italic;
}

ul
{
    list-style-type: none;
}

.name
{
  list-style-type: circle;
}

.jumbotron {
  background-color: transparent;
}

.pager {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .container .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
  }
}
